[access "refs/*"]
	owner = group user/activey-test (activey-test)
[access "refs/for/refs/*"]
	read = group user/activey-test (activey-test)
	push = group user/activey-test (activey-test)
	label-Code-Review = -2..+2 group user/activey-test (activey-test)
	label-Verified = -1..+1 group user/activey-test (activey-test)
	rebase = group user/activey-test (activey-test)
	removeReviewer = group user/activey-test (activey-test)
	submit = group user/activey-test (activey-test)
[access "refs/heads/*"]
	read = group user/activey-test (activey-test)
	create = group user/activey-test (activey-test)
	push = +force group user/activey-test (activey-test)
	pushMerge = group user/activey-test (activey-test)
[access "refs/tags/*"]
	push = +force group user/activey-test (activey-test)
	pushTag = group user/activey-test (activey-test)
	pushSignedTag = group user/activey-test (activey-test)
